@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    :root {
        --color-verde: #6DBD6B;
        --color-amarillo: #F4C95D;
        --color-coral: #FF9E7A;
        --color-marron: #754c2e;
        --color-crema: #FFF7ED;
        --color-coral-claro: #febf99;
    }

    body {
        background: var(--color-crema);
    }

    /* ===========================
    para el contenerdor del acordion
    =========================== */

    #nosotros .accordion-item,
    #nosotros .accordion-collapse {
        background: var(--color-crema);
        border: none;
    }

    /* ===========================
    Para los botones
    =========================== */

    #nosotros .accordion-button {
        background-color: var(--color-crema);
        color: var(--color-marron) !important;
        font-weight: 600;
        border: none;
        box-shadow: none;
    }

    #nosotros .accordion-button:not(.collapsed) {
        background-color: var(--color-coral-claro);
        color: var(--color-marron) !important;
    }

    #nosotros .accordion-button:focus {
        box-shadow: none;

    }


    #nosotros .accordion-button::after {
        box-shadow: none;
    }

    /* ===========================
    para las tarjetas del acordion
    =========================== */

    #nosotros .acordeon-card {
        width: 100%;
        margin: 0;
        overflow: hidden;
        transition: none;
        height: auto;
    }

    #nosotros .card-rigth{
       background: #ffffff;
        background: linear-gradient(83deg, rgba(255, 255, 255, 1) 17%, rgba(254, 248, 241, 1) 36%);
        
    }

    #nosotros .card-left{
        background: #FEF8F1;
        background: linear-gradient(83deg,rgba(254, 248, 241, 1) 64%, rgba(255, 255, 255, 1) 83%);;
    }

    #nosotros .acordeon-card:hover {
        transform: none;
    }

    /* para espacio interno del contenido */

    #nosotros .accordion-collapse {
        padding: 0 1rem;
    }


    /* ===========================
    para texto tarjetas
    =========================== */
    .code-acordion, .parrafo-acordion{
        font-family: "Poppins", sans-serif;
        font-size: 400;
        font-size: 1rem;
    }
    
    #nosotros .accordion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .5rem;
    }

    #nosotros .img-rigth{
        object-position: right;
    }

    #nosotros .img-left{
        object-position: left;
    }

    #nosotros .card-body {
        width: 100%;
        height: 100%;
        padding: 2rem;
    }
    #nosotros .container{
    max-width: 1500px;
}

    /* ===========================
   CARRUSEL
=========================== */
    .carousel-item img {
        width: 100%;
        height: 75vh;
        object-fit: cover;
    }

    .carousel-caption {
        bottom: 15%;
    }

    .carousel-caption h1 {
        font-size: clamp(1.4rem, 4vw, 3rem);
        color: var(--color-marron) !important;
    }

    .carousel-caption p {
        font-size: clamp(.9rem, 2vw, 1.2rem);
    }


    .container__cards {
        max-width: 1200px;
        margin: auto;
        padding: 60px 20px;
    }

    .container__cards .card {
        width: 100%;
        max-width: 320px;
        margin: auto;
        border: none;
        border-radius: 18px;
        overflow: hidden;
    }

    .cover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container__cards {
        max-width: 1200px;
        margin: auto;
        padding: 60px 20px;
    }


    #nosotros {
        margin-top: 60px;
    }

    #nosotros .accordion-item {
        border-bottom: 2px solid var(--color-verde);
    }

    #nosotros .accordion-item:last-child {
        border-bottom: none;
    }

    #nosotros .accordion-item {
        margin-bottom: 15px;
    }

    #nosotros .accordion-button{
    font-size: 1.35rem;
    font-weight: 700;
}

#nosotros .card-body{
     font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
   .titulo-equipo{
    color: var(--color-marron);
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}
    /* ===========================
   RESPONSIVE TABLET
=========================== */

    @media (max-width:768px) {

        .carousel-item img {
            height: 45vh;
        }

        .carousel-caption {
            bottom: 5%;
            text-align: center !important;
        }

        .carousel-caption h1 {
            font-size: 1.5rem;
        }

        .carousel-caption p {
            display: none;
        }

        #nosotros .accordion-img {
            height: 220px;
        }

        #nosotros .card-body {
            padding: 1.5rem;
        }

        #nosotros .accordion-collapse {
            padding: 0;
        }

    }

    /* ===========================
   RESPONSIVE CELULAR
=========================== */

    @media (max-width:576px) {

        #nosotros .container,
        .container__cards {
            padding-left: 20px;
            padding-right: 20px;
        }

    }
