@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


/* Configuración de colores globales de la imagen */
body {
    background-color: #fff6ed;
    /* Fondo beige claro */
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

main{
    background-color: #fff6ed;
}

/* Sección superior */
.hero-section {
    background-color: #cccccc;
    /* Gris del encabezado */
    min-height: 300px;
    border-bottom: 3px solid #62b1f6;
    /* Línea azul divisoria */
}

/* Estilos comunes para los bloques  */
.gray-box {
    background-color: #d9d9d9;
    width: 100%;
    border-radius: 4px;
}

/* Tamaños de las cajas del lado izquierdo */
.box-square {
    height: 140px;
}

.box-tall {
    height: 160px;
}

.box-wide {
    height: 150px;
}

/* Contenido e hilos del lado derecho */
.content-title {
    color: #111111;
    font-size: 2rem;
}

.content-text {
    font-size: 0.9rem;
    line-height: 1.5;
}

/* Barras grises horizontales */
.gray-bar {
    background-color: #e0e0e0;
    height: 25px;
    width: 100%;
    border-radius: 2px;
}

/* Bloque inferior derecho */
.box-large-right {
    height: 180px;
}

/* botones de contacto */
.social-card {
    width: 40%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 20px;

    background: #f5f5f5;
    color: #111854;

    font-size: 50px;

    transition: all .3s ease;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.social-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
}

.whatsapp:hover {
    background: #1c9f4c;
    color: white;
}

.instagram:hover {
    background: linear-gradient(45deg,
            #FBC66A 0%,
            #F38D5C 25%,
            #EB5850 50%,
            #8E42AF 75%,
            #4f5bd5 100%);
    color: white;
}

.telefono:hover {
    background: #0d68c9;
    color: white;
}

.correo:hover {
    background: #c73426;
    color: white;
}

.col-12 {
    display: Flexbox
}

/* Estilo Formulario */


.formulariocontact{
    padding-left: 4vw;  
    display: flex;
    flex-direction:  column;
    border-left: solid #6DBD6B 2px;
    border-image: linear-gradient(to bottom, #FFF7ED, #6DBD6B, #FFF7ED) 1;
    background-color: #FFF7ED;
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.h2Form{
    color:#754c2e ;
    font-family: "Poppins", sans-serif;
}

.pForm{
    color: black;
}

.contenedorForm{
    margin-top: 1vh;
}

.divInputEmail, .divInputTel, .divInputTelwsp, .divInputCategoria {
    margin-top: 1.5vh;
}

.form-floating.divInputMensaje{
    margin-top: 4vh;
}


.divInputbtn{
    margin-top: 6vh;
}


.btn-submit-form{
   background-color:#6DBD6B;
    border: 1px solid  #FF9E7A;
}

#btnContactar:hover{
    background-color:#FF9E7A;
    border: 1px solid #6DBD6B ;    
}

.btn-submit-form:disabled {
    background-color:#FF9E7A;;
    opacity: 0.6;
    cursor: not-allowed;
}

.form-label-nombre, .form-label-apellido, .form-label-email, .form-label-telefonoWS, .form-label-Tel, .form-label-categoria{
    margin-bottom: 2vh;
    font-family: "Poppins", sans-serif;
    font-size: smaller;

}

.form-control, .form-select{
    border: solid 2px #FF9E7A;
}

.form-control:focus, .form-select:focus{
    border-color: #FF9E7A;
    box-shadow: 0 0 0 .25rem #ff9d7a70
}

.form-control.inputCorrecto:focus{
    border-color:  #6DBD6B;
    border-width: 2px;
    box-shadow: 0 0 0 .25rem  #6cbd6b85
    
}

.form-control.inputIncorrecto:focus{
    border-color:  #ea0909;
    border-width: 2px;
    box-shadow: 0 0 0 .25rem  #ea090970
}

.parrafoError{
    margin-top: 2vh;
    font-size: small;    
}

.asterisco{
    color:red;
}


.optionDisabled{    
    color:#0000005d;
}

:root {
    --bs-secondary-color: #DEDEDE;
}

textarea::placeholder{
    color: #DEDEDE !important;
    opacity: 1 !important;
}

.titulo-hero{
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: clamp(1.8rem, 5vw, 4.5rem) !important;
}