@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
    background-color: #FFF7ED;
}

.formulariocontact{
    padding-left: 4vw;  
    display: flex;
    flex-direction:  column;
    border-left: solid #6DBD6B 2px;
    border-image: linear-gradient(to bottom, #FFF7ED, #6DBD6B, #FFF7ED) 1;
    background-color: #FFF7ED;
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.h2Form{
    color:#754c2e ;
    font-family: "Poppins", sans-serif;
}

.pForm{
    color: black;
}

.contenedorForm{
    margin-top: 1vh;
}

.divInputEmail, .divInputTel, .divInputTelwsp, .divInputCategoria, .divInputMensaje{
    margin-top: 4vh;
}

.divInputbtn{
    margin-top: 6vh;
}


.btn-submit-form{
    background-color: #FF9E7A;
    border: 1px solid  #6DBD6B ;
}

#btnContactar:hover{
    background-color:#6DBD6B;
    border: 1px solid  #FF9E7A;
}

.form-label-nombre, .form-label-apellido, .form-label-email, .form-label-telefonoWS, .form-label-Tel, .form-label-categoria{
    margin-bottom: 2vh;
    font-family: "Poppins", sans-serif;
    font-size: smaller;

}

#inputNombreForm, #inputApellidoForm, #inputEmail, #inputTelefonoWSForm, #inputTelefono, #inputCategoria, #inputMensaje{
    border: solid 2px #FF9E7A;
}

.inputCorrecto{
    border: solid 2px  #6DBD6B;
}

.inputIncorrecto{
    border: solid 2px  #ea0909;
}