@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;@600;700&display=swap');

 :root {
        --color-verde: #6DBD6B;
        --color-amarillo: #F4C95D;
        --color-coral: #FF9E7A;
        --color-marron: #754c2e;
        --color-crema: #FFF7ED;
        --color-coral-claro: #febf99;
    }



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff6ed;
}

/* HERO */
.container-hero{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-crema);
    font-family: "Poppins", sans-serif;

    /* Imagen fondo */
    background-image:url(../IMG/imagenes-inicio/img-hero-nude.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

    /* Texto hero */
.div-hero-texto{
    margin: 40px 70px; 
    width: 50%;
    max-width: 600px;
    padding: 20px 0;   
}

.hero-parrafo-verde{
    font-weight: 600;
    font-size: 20px;
    color: var(--color-verde);
    margin-bottom: 8px;
}

#logo-hero-title{
    font-size: 48px;
    color: var(--color-coral-claro);
    rotate: 20deg;
}

#hero-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: clamp(2.8rem, 5vw, 4.5rem);
    line-height: 1;  
    color: var(--color-marron);  
}

.hero-span-green{
    color: var(--color-verde);
}

.hero-span-brown, #logo-hero{
    color: var(--color-marron);
}

.hero-divider{
    width: 7rem;
    border-bottom: solid 5px var(--color-verde);
    border-radius: 8px;    
}

#hero-h5-second{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 12px;
}

.hero-parraf0-negro{
    max-width: 420px;
    font-size: 17px ;
    line-height: 1.6;
    color: #4A4A4A;
}

    /* Botones */

.hero-btn{
    background-color: var(--color-verde);
    border-radius: 12px;
    color: var(--color-crema);
}

.hero-btn:hover, .hero-btn2:hover{
    transform: scale(1.05);
    background-color: var(--color-coral);
    border-radius: 12px;
    color: var(--color-marron);
}

.hero-btn2{
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px var(--color-verde);
    border-radius: 12px;
    color: var(--color-verde);
}














