body {
    background-color: antiquewhite;
}

#navbar-general {
    margin-bottom: 40px;
}

.card-servicios {
    margin: 30px 20px 20px 20px;
    margin: 20px;
    width: 18rem;
    height: 18rem;
    cursor: pointer;

    position: relative;

    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: center center;

    border: none;
    background: transparent;
}

/* Las dos caras ocupan exactamente el mismo espacio */
.card-delantera,
.card-trasera {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;

    background-color: antiquewhite;
    backface-visibility: hidden;
}

/* Parte delantera */
.card-delantera {
    z-index: 2;
}

/* Parte trasera */
.card-trasera {
    transform: rotateY(180deg);
}

/* Al hacer clic */
.card-servicios.girada {
    transform: rotateY(180deg);
}